In [1]:
import pandas as pd
import numpy as np
import seaborn as sb

In [3]:
df=pd.read_csv('KBO관중현황.csv')
df

,연도,삼성,KIA,롯데,LG,두산,한화,SSG,키움,NC,KT
0,2023,"845,775\n(11,912)","717,025\n(10,099)","891,745\n(12,216)","1,202,637\n(16,939)","969,562\n(13,282)","566,785\n(7,764)","1,068,211\n(14,633)","583,629\n(8,220)","557,607\n(7,854)","697,350\n(9,553)"
1,2022,"674,452\n(9,367)","604,394\n(8,394)","631,656\n(8,773)","930,163\n(12,919)","644,614\n(8,953)","358,190\n(4,975)","981,546\n(13,633)","349,773\n(4,858)","369,018\n(5,125)","532,268\n(7,393)"
2,2021,"278,222\n(3,864)","104,989\n(1,458)","138,294\n(1,921)","116,691\n(1,621)","98,036\n(1,362)","103,960\n(1,444)","118,412\n(1,645)","67,407\n(936)","128,289\n(1,782)","74,189\n(1,030)"
3,2020,"27,819\n(386)","21,198\n(294)","36,717\n(510)","41,317\n(574)","55,047\n(765)","19,962\n(277)","30,608\n(425)","27,158\n(377)","45,992\n(639)","22,499\n(312)"
4,2019,"691,681\n(9,607)","692,163\n(9,613)","679,208\n(9,433)","1,000,400\n(13,894)","983,474\n(13,659)","555,225\n(7,711)","982,962\n(13,652)","453,886\n(6,304)","710,274\n(9,865)","536,735\n(7,455)"
5,2018,"752,310\n(10,449)","861,729\n(11,968)","901,634\n(12,523)","1,108,677\n(15,398)","1,112,066\n(15,445)","734,110\n(10,196)","1,037,211\n(14,406)","454,574\n(6,314)","442,872\n(6,151)","668,559\n(9,286)"
6,2017,"704,857\n(9,790)","1,024,830\n(14,234)","1,038,492\n(14,424)","1,134,846\n(15,762)","1,094,829\n(15,206)","593,251\n(8,240)","892,541\n(12,396)","699,380\n(9,714)","531,121\n(7,377)","686,541\n(9,535)"
7,2016,"851,417\n(11,825)","773,499\n(10,743)","852,639\n(11,842)","1,157,646\n(16,078)","1,165,020\n(16,181)","660,472\n(9,173)","865,194\n(12,017)","782,121\n(10,863)","549,125\n(7,627)","682,444\n(9,478)"
8,2015,"524,971\n(7,291)","710,141\n(9,863)","800,962\n(11,124)","1,053,405\n(14,630)","1,120,381\n(15,560)","657,385\n(9,130)","814,349\n(11,310)","510,802\n(7,094)","522,669\n(7,259)","645,465\n(8,964)"